* {
    font-family: 'Gowun Batang', serif;
}

.blog-title {
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
}

body {
    background-color: #F3E9DD;
    min-height: 100vh;
}

/* blog */
 .column {
            float: left;
            width: 50%;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .blog-middle {
            right: 25%;
            left: 30%;
        }

        .blog-list {
            margin-left: 170px;
        }

.footer {
    background-color: #FDF6EC;
    float: right;
}