body {
    background-color: rgba(255, 255, 128, .5);
    min-height: 100vh;
    padding-top: 20rem;
}

.section {
    padding: 1rem 1.5rem;
    max-width: 750px;
    margin: auto;
}

.is-sparta {
    color: #080102 !important;
}

.button.is-cracker {
    background-color: #080102;
    border-color: transparent;
    color: #fff !important;
    border-radius: 20px;
    margin: 3px;
    margin-left: 15px;
}

.button.is-cracker.is-outlined {
    background-color: transparent;
    border-color: #080102;
    color: #080102 !important;
}
.button{
    padding: 1rem 1.5rem;
    margin: auto;
    padding: 1rem 1.5rem;
}

.modal-content {
    width: 600px;
    max-width: 80%;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.image img {
    object-fit:cover;
    width:100%;
    height:100%;
}
.media-content {
    width: 20px;
    max-width: 80%;
}
.textarea {
    border-radius: 50px 50px 50px 50px;
    min-height: 5rem;
    overflow-y: hidden;
    resize: none;
}
.btn-outline-dark{
    border-color:  #ddd ;
    border-radius: 10px;
    font-size: .8em ;
    margin: 5px;
}
.textarea:not([rows]) {
    max-height: 10em;
    background-color: RGBA(232, 52, 78, 0.2);
    min-height: 5vh;
		padding-top: 0.75rem;
}




.btn.btn-white.btn-animate {
    border-radius: 290486px;
    padding-left: 0.8em;
    padding-right: 0.8em;
}
.text-box {
    margin-left: 44vw;
   margin-top: 42vh;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}









