    .user-info {
        text-align: right;
        margin: auto;
        width: 75%;
        max-width: 1500px;
        height: 60px;
    }

    .user-name {
        font-family: 'Gowun Batang', serif;
        font-size: 22px;
        vertical-align: middle;
    }