body {
    background-color: #F3E9DD;
    min-height: 100vh;
    padding-top: 3.25rem;
}

/* Title and Subtitle */

.title {
    font-family: 'Merriweather', serif;
    font-size: xxx-large;
    font-weight: 1100;
    color: #68A7AD !important;
}

.hero {
    color: #3A3845;
}

.subtitle {
    font-family: 'Source Code Pro', monospace;
}
