.nav-btn {
    margin: auto;
    width: 800px;
}

.dup-btn {
    background-color: #f3f3f4;
}

.category {
    color: royalblue;
}

.phone {
    color: royalblue;
}

.user-btn-community {
    float: right;
}

.crack-out{
    margin-top: 15px;
    margin-right: 40px;
}