
.media-content {
    width : 400px;
}

.place-input {
    width: 300px;
}

/*모달 내부*/
.modal-content {

    width: 600px;
    max-width: 80%;
}

.modal-list {
    margin-top:20px;

    overflow: auto;
}

.is-sparta {
    color: #e8344e !important;
}

.button.is-sparta {
    background-color: #e8344e;
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: #e8344e;
    color: #e8344e !important;
}

.matjip-list {
    width: 400px;
    overflow: auto;
    margin: auto;
}
